.dropdown a{
    background-color: rgba(255,255,255,0);
    color: white
}
.mychart{
    width: 60%;
    padding: 0;
    margin: 0;
    height: 500px;
    margin-right: 10px;
    /* flex-grow: 2.1; */
}
body{
    background-color: 	#F5F5F5;
    height: 800px;
}
.timeline-badge .info{
    background-color: rgba(255,255,255,0);
}
.timeline-badge img{
    /* float:right; */
    margin-right: 10px;
    border-radius: 50%;
}
.chart-flex{
    display: flex;
}
/* .chart-info{
    position: absolute;
    top: 150px;;
    right: 75px;
    flex-grow: 1
} */
.dev-widget{
    flex-grow: 1;
    visibility: hidden;
    margin-left: 25px;
    margin-top: 45px;
    opacity: 0;
}
.dev-widget{
    transition:all 0.5s linear
}
.dev-widget:hover{
    background-color: #A9A9A9;
    color: black;
}

.containe{
    padding-left: 50px;
    padding-top: 50px;
}

#col-md-5{
           padding-left: 250px;
           margin-left: 250px;
       }

#sub-tittle{
     padding-left: 50px;
           margin-left: 50px;
}

.q{
      padding-left: 50px;
           margin-left: 50px;
}
