<!DOCTYPE html>
<html>
<head>
    <title>Distribute</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1278259_5m3cryo2qvq.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="/static/js/vue.min.js"></script>
    <link rel="stylesheet" href="static/css/mystyle.css">
</head>
<body>
<div class="container" id="container">
    <div id="chart-container">
        <div class="outter-wp">
            <h3 class="sub-tittle">爬虫操控</h3>
            <!-- 画图的地方 -->
            <div class="containe">
                <div class="row clearfix">
                    <div class="col-md-5 column">
                        <form role="form" onsubmit="validateForm()" method="post" name="myForm">

                            <div class="form-group">
                                <label>请输入您要爬取的关键字</label><input name="fname" class="keyword"
                                                                 class="form-control"/>
                            </div>
                            <button type="submit" class="btn btn-default">开始爬取</button>
                        </form>
                    </div>
                    <div class="col-md-2 column">
                    </div>
                    <div class="col-md-5 column">
                        <h3 class="sub-tittle">历史爬取数据</h3>

                        <ul id="data">
                            {% if data %}
                            {% for question in data %}
                            <li title="{{  question}}">{{ question.keyword }}: {{ question.sum}}条</li>
                            {% endfor %}
                            {% else %}
                            <p>找不到任何历史记录哎</p>
                            {% endif %}
                        </ul>

                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <h3 class="sub-tittle">正在运行爬虫</h3>
                        <ul id="spider_run">
                            {% if data %}
                            {% for question in spiders %}
                            <li>{{ question}}</li>
                            {% endfor %}
                            {% else %}
                            <p>当前没有爬虫正在运行</p>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <script src="/static/js/spider.js"></script>
        <script src="/static/js/main.js"></script>

</body>
</html>