<!DOCTYPE HTML>
<html>
<head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <!-- Bootstrap Core CSS -->
    <link href="/static/polls/css/bootstrap.min.css" rel='stylesheet' type='text/css'/>
    <!-- Custom CSS -->
    <link href="/static/polls/css/style.css" rel='stylesheet' type='text/css'/>
    <link href="/static/polls/css/mystyle.css" rel='stylesheet' type='text/css'/>
    <!-- lined-icons -->
    <link rel="stylesheet" href="/static/polls/css/icon-font.min.css" type='text/css'/>
    <script src="/static/polls/js/jquery-1.10.2.min.js"></script>
    <script src="/static/polls/js/spider.js"></script>

</head>
<body>
<div class="page-container">
    <!--/content-inner-->
    <div class="left-content">
        <div class="inner-content">
            <!-- header-starts -->
            <div class="header-section">
                <!--menu-right-->
                <div class="top_menu">
                    <div class="profile_details_left">
                        <ul class="nofitications-dropdown">
                            <li class="dropdown note">
                                <a href="#">小呀小爬虫</a>
                            </li>
                            <li class="dropdown note">
                                <a href="index.html">舆论监督</a>
                            </li>
                            <li class="dropdown note">
                                <a href="#">主题分析</a>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="outter-wp">
                <h3 class="sub-tittle">爬虫操控</h3>
                <!-- 画图的地方 -->
                <div class="containe">
                    <div class="row clearfix">
                        <div class="col-md-5 column">
                            <form role="form" onsubmit="validateForm()" method="post" name="myForm">
                                <div class="form-group">
                                    <label>请输入您要爬取的关键字</label><input name="fname"
                                                                     class="form-control"/>
                                </div>
                                <button type="submit" class="btn btn-default">开始爬取</button>
                            </form>
                        </div>
                        <div class="col-md-2 column">
                        </div>
                        <div class="col-md-5 column">
                            <h3 class="sub-tittle">历史爬取数据</h3>
                            {% if data %}
                                <ul>
                                    {% for question in data %}
                                        <li title="{{  question}}"  >{{ question.keyword }}:  {{  question.sum}}条</li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p>找不到任何历史记录哎</p>
                            {% endif %}
{#                            <ul>#}
{##}
{#                                <li title="啊手动阀发生">#}
{#                                    外交：20000条#}
{#                                </li>#}
{#                                <li title="啊手动阀发生">#}
{#                                    中美贸易：3000条#}
{#                                </li>#}
{##}
{#                            </ul>#}
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-12 column">
                            <h2>


                            </h2>
                            <p>
                                这里是显示爬虫的运行状态
                            </p>
                            <p>
                                <button id="stop" class="text-warning" href="#">停止当前爬虫</button>
                            </p>
                        </div>
                    </div>
                </div>
                <!--/sidebar-menu-->
                <div class="sidebar-menu">
                    <header class="logo">
                        <a href="#"> <span id="logo"> <h1>舆论分析系统</h1></span></a>
                    </header>
                    <div style="border-top:1px solid rgba(69, 74, 84, 0.7)"></div>
                    <!--/down-->
                    <div class="down">
                        <img src="/static/polls/images/icon.png">
                        <a href="index.html"><span class=" name-caret">sdu</span></a>
                        <p>开启您的热点资讯可视化之旅</p>
                        <ul>
                            <li><a class="tooltips" href="index.html"><span>Profile</span><i
                                    class="lnr lnr-user"></i></a></li>
                            <li><a class="tooltips" href="index.html"><span>Settings</span><i
                                    class="lnr lnr-cog"></i></a></li>
                            <li><a class="tooltips" href="index.html"><span>Log out</span><i
                                    class="lnr lnr-power-switch"></i></a></li>
                        </ul>
                    </div>
                    <!--//down-->
                    <div class="menu">
                        <ul id="menu">
                            <li><a href="index.html"><span>热度趋势</span></a></li>
                            <li><a href="index.html"><span>热点来源</span></a></li>
                            <li><a href="index.html"><span>相关人物</span></a></li>
                            <li><a href="comment.html"><span>相关评论</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
                <footer><p>MADE BY SDU-SE</p></footer>
            </div>
            <script src="/static/polls/js/bootstrap.min.js"></script>
            <script src="/static/polls/js/echarts.js"></script>
            <script src="/static/polls/js/draw.js"></script>
            <script src="/static/polls/js/event.js"></script>
</body>
</html>